<div id="admin-buttons">
	<ul id="toolbar">
		<li><a href="#">Add Administrator</a></li>
	</ul>
</div>
<div id="find-panel" >
	<h3>Administrator List</h3>
	<div id="find-panel-scroll">
		<table>
			<tr class="header">
				<th>Last Name</th>
				<th>First Name</th>
				<th>User Name</th>
				<th>Email Address</th>
				<th>Phone Number</th>
				<th>Role</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr class="odd">
				<td>Skoller</td>
				<td>Nathan</td>
				<td>nskoller</td>
				<td>nskollerh@gmail.com</td>
				<td>1 (310) 809-0426</td>
				<td>Admin</td>
				<td><%= link_to 'Edit', '#' %></th>
				<td><%= link_to 'Delete', '#' %></th>
			</tr>
			<tr class="even">
				<td>Gershuni</td>
				<td>David</td>
				<td>dqrs</td>
				<td>vidgersh@gmail.com</td>
				<td>1 (310) 619-6418</td>
				<td>Admin</td>
				<td><%= link_to 'Edit', '#' %></th>
				<td><%= link_to 'Delete', '#' %></th>
			</tr>
			<tr class="odd">
				<td>Walters</td>
				<td>Arthur</td>
				<td>altwalt</td>
				<td>arthur@watersmedical.com</td>
				<td>1 (310) 426-3307</td>
				<td>Manager</td>
				<td><%= link_to 'Edit', '#' %></th>
				<td><%= link_to 'Delete', '#' %></th>
			</tr>
		</table>
	</div>
</div>